<navbar></navbar>
<header-c></header-c>
<div class="main">
    <div class="content">
        <h1>ನಮ್ಮ ಬಗ್ಗೆ</h1>
        <div class="texts">
            ಪರವಾನಗಿ ಭೂಮಾಪಕರನ್ನು ಅಖಂಡವಾಗಿ ಒಗ್ಗೂಡಿಸಿ. ಪರವಾನಗಿ ಭೂಮಾಪಕರ ಸಮಸ್ಯೆಗಳಿಗೆ ಶಾಶ್ವತ ಪರಿಹಾರ ಕಲ್ಪಿಸಿಕೊಳ್ಳಲು ಸಮಾನ ಮನಸ್ಕ
            ಪರವಾನಗಿ ಭೂಮಾಪಕರಿಂದ ಸ್ಥಾಪಿತವಾದ ವೇದಿಕೆ ಇದು. ಇದನ್ನು ಯಶಸ್ವಿಗೊಳಿಸಲು ಎಲ್ಲಾ ಪರವಾನಗಿ ಭೂಮಾಪಕರು
            ಕಾರ್ಯಪ್ರವೃತ್ತರಾಗಬೇಕೆಂದು ಕೋರಿಕೊಳ್ಳುತ್ತೇವೆ.

            <p>
                ನಾವು ಏನು ಮಾಡುವುದಿಲ್ಲ
                ಅಖಂಡ ಕರ್ನಾಟಕ ಒಗ್ಗೂಡಿ ...ಒಮ್ಮತ ಬರುವವರೆಗೂ
            </p>
            <p class="imp">೧.ಯಾವುದೇ ಖಾಯಮಾತಿ ಹೋರಾಟಗಳನ್ನು ಮಾಡುವುದಿಲ್ಲ.</p>
            <p class="imp">೨.ಯಾರಿಗಾದರೂ ಅನ್ಯಾಯವಾದರೆ ಅವರ ಪರ ನಿಂತು ಲಾಗಿನ್ ಸ್ಥಗಿತಗೊಳಿಸಿ ಹೋರಾಟ ಮಾಡುವುದಿಲ್ಲ.</p>

            <h3>ಸದ್ಯಕ್ಕೆ ಏನು ಮಾಡಬಹುದು:</h3>
            <p class="imp">೧.ಸೋಶಿಯಲ್ ಮೀಡಿಯಾ ಮುಖೇನ ಪ.ಭೂ ಸಮಸ್ಯೆಗಳ ಬಗ್ಗೆ ಬೆಳಕು ಚೆಲ್ಲಲು ಪ್ರಯತ್ನಿಸುವುದು.</p>

            <p class="imp">೨.ಅನ್ಯಾಯಕ್ಕೊಳಗಾದವರ ಸಹಕಾರದಿಂದ ಸದರಿ ಪ್ರಕರಣದ ಬಗ್ಗೆ ಸರ್ಕಾರದ ಗಮನ ಸೆಳೆಯಲು ಪ್ರಯತ್ನಿಸುವುದು.</p>

            <p class="imp">೩.ಸಮಾಜಮುಖಿ ಕಾರ್ಯಕ್ರಮಗಳಲ್ಲಿ ಭಾಗವಹಿಸುವುದು</p>
        </div>
    </div>

    <div class="content-right">
        <h1>ಧ್ಯೇಯೋದ್ದೇಶಗಳು</h1>
        <div class="texts">
            <h2>ಪ್ರಾಥಮಿಕ ಹಂತಗಳು</h2>
            <p class="imp">
                ೧.ಗೂಗಲ್ ಫಾರ್ಮ್ ಮುಖೇನ ಸಮಗ್ರ ಪ.ಭೂ ಗಳ ದತ್ತಾಂಶ (Data) ಸಂಗ್ರಹಣೆ
                (ಸಂಗ್ರಹಿಸಿದ ಡಾಟಾ ದಿಂದ ವರದಿ ತಯಾರಿಸಲು ಅನುಕೂಲವಾಗುತ್ತದೆ)
            </p>

            <p class="imp">೨.ರಿಜಿಸ್ಟರ್ ಆದ ಪ.ಭೂ ಗಳ ತಾಲ್ಲೂಕು ಸಂಘಟನೆಯನ್ನು ಯಶಸ್ವಿಯಾಗಿ ಸಂವಿಧಾನಬದ್ದವಾಗಿ ನಿರ್ಮಿಸುವುದು.</p>

            <p class="imp">೩.ಸಂಘಟನೆಯ ಮುಖೇನ ಇತರೆ ಅಧಿಕಾರಿ ವರ್ಗ, ರಾಜಕೀಯ ವರ್ಗ, ಶಕ್ತ ವರ್ಗಗಳಿಂದ ಪ.ಭೂ ವಿಪತ್ತು ನಿರ್ವಹಣಾ ನಿಧಿಗೆ ದೇಣಿಗೆ
                ಸಂಗ್ರಹಿಸುವುದು.</p>

            <p class="imp">೪.ಪದಾಧಿಕಾರಿಗಳ ನೇತೃತ್ವದಲ್ಲಿ ಲೋಕಾಯುಕ್ತ, ಪೋಲೀಸ್ ಕಮೀಷನರ್, ಡಿ.ಸಿ.ಗಳು, ಪತ್ರಿಕೆಯವರು, ವಿಮಾ ಕಂಪನಿಯವರು, ಮಾನವ
                ಹಕ್ಕುಗಳ ಆಯೋಗ, ಕ್ರೀಡಾ ಇಲಾಖೆ ಅಧಿಕಾರಿಗಳು, ಕರ್ನಾಟಕ ಸಾಹಿತ್ಯ ಪರಿಷತ್ತು ಅಧಿಕಾರಿಗಳು, ಇತರೆ ಉಪಯುಕ್ತ ಇಲಾಖೆಯ
                ಅಧಿಕಾರಿಗಳ ಸಂಪರ್ಕ ಸಮನ್ವಯ ಸಾಧಿಸುವುದು.</p>

            <p class="imp">೫. ಡಿ.ಸಿ ಯವರಿಗೆ ಸಂಘದ ಹೆಸರಿಗೆ ವಸತಿ ರಹಿತ ಪ.ಭೂ ಗಳಿಗೆ ನಿವೇಶನ ನೀಡುವ ಸಲುವಾಗಿ ಬೇಚರಾಕ್ ಗ್ರಾಮಗಳನ್ನು /ಗೋಮಾಳದಲ್ಲಿ
                ಇಂತಿಷ್ಟು ಜಾಗವನ್ನು ಮಂಜೂರು ಮಾಡಲು ವಿನಂತಿಸಿಕೊಳ್ಳುವುದು.</p>

            <p class="imp">೬.ಇತರೆ ಗುಡಿ ಕೈಕಾರಿಕೆಗಳಿಗೆ ಪ.ಭೂ ಗಳನ್ನು ಪ್ರೋತ್ಸಾಹಿಸುವುದು & ಸರ್ಕಾರದಿಂದ ನೆರವು ಕೊಡಿಸುವ ಮೂಲಕ ಉತ್ತೇಜನ ನೀಡುವುದು.
            </p>
        </div>
    </div>

</div>
<footer-c></footer-c>