/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: #FAF1E4;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: small;
    }
    h3{
        font-size: small;
    }
    p{
        font-size: small;
    }
    .logo{
        width: 30px;
        height: 30px;
    }

  }